.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent !important; /* Asigură-te că navbar-ul este transparent */
  box-shadow: none !important; /* Elimină umbra */
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-nav {
  margin-right: 20px;
}

.nav-link {
  font-size: 1.1rem;
  padding: 10px 20px;
  color: white !important; /* Asigură-te că textul este alb pe navbar transparent */
  border-radius: 20px;
}

.nav-link:hover {
  background: linear-gradient(135deg, #8e44ad, #5e3370);
  border: 1px solid #c77dff;
  color: white !important;
  box-shadow: 0 0 10px #c77dff, 0 0 20px #c77dff;
  transition: all 0.2s ease-in-out;
}

body {
  padding-top: 60px;  /* Corectăm spațiul pentru navbar */
}

.theme-toggle-btn {
  font-size: 0.9rem;
  padding: 6px 12px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.theme-toggle-btn:hover {
  background-color: #8e44ad;
  border-color: #c77dff;
  box-shadow: 0 0 10px #c77dff;
  color: white;
}

